.container {
  margin-top: 5em;
}

.title {
  text-transform: uppercase;
}

.listings-container {
  min-height: 60vh;
}

@media screen and (max-width: 756px) {
  .title {
    text-align: center;
  }
  .container {
    margin-top: 2rem;
  }
  .listings-container {
    min-width: none;
    margin-top: 3em;
    justify-content: center;
  }
}
