html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    rgb(0, 212, 255, 1),
    10%,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
}

@media screen and (max-width: 768px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(
      90deg,
      rgb(0, 212, 255, 1),
    10%,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 0, 36, 1) 100%
    );
  }
}
