.layout {
  width: 70%;
  margin: auto;
  padding: auto;
}

@media screen and (max-width: 768px) {
  .layout {
    width: 100%;
  }
}

@media screen and (max-width: 1180px) {
  .layout {
    width: 100%;
    margin: none;
    padding: none;
  }
}

