.pagination {
  color: white;
}

@media screen and (max-width: 512px) {
  .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
    margin: 0 0;
    min-width: 35px;
    height: 35px;
    border-radius: 17.5px;
  }
}
