.footer {
  margin-top: 3rem;
  background-color: rgb(4, 1, 32);
  height: 40vh;
}
.logo {
  width: 8rem;
  height: 6rem;
  padding: 0px;
  color: white;
}
.footer-content {
  margin-left: 15%;
  margin-right: 15%;
}
.footer-section-container {
  display: flex;
  justify-content: space-between;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
}

@media screen and (max-width: 756px) {
  .footer-section-container {
    flex-direction: column;
    line-height: 1.8em;
  }
}
