.card-container {
  background: linear-gradient(rgba(9, 9, 121, 1), rgb(106, 0, 255));
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-secondary-text {
    white-space: "pre-line";
    color: rgb(210, 202, 202)
}

.card-content-upper {
    max-height: 5rem;
}

.card-content-lower {
    max-height: 5rem;
}
